 nav a {
   display: inline-block;
   margin-left: 20px;  

 }


 nav {
    border: solid black 0.2px;
     display: flex;
     align-items: center;
     justify-content: space-evenly;

 }

 nav img {
     padding:10px;
     height:30px;
 }
.trait {

}
 .trait div {
     width:30px;
     height:10px;
    column-gap: 10px;

     border-radius: 5px;
     background-color: #3E4898;

 }